<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.AdMapper">

    <update id="updateSortOrder">
        UPDATE ad
        SET sort_order = #{sort}
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="com.example.po.AdPO">
        SELECT *
        FROM ad
        WHERE id = #{id}
    </select>

    <select id="findAdByGoodsId" resultType="com.example.po.AdPO">
        SELECT *
        FROM ad
        WHERE goods_id = #{goodsId}
          AND is_delete = 0
    </select>

    <insert id="insert">
        insert into ad (id, link_type, link, goods_id, image_url, end_time, enabled, sort_order, is_delete)
        values (#{id}, #{linkType}, #{link}, #{goodsId}, #{imageUrl}, #{endTime}, #{enabled}, #{sortOrder}, 0);
    </insert>

    <select id="findExpiredAds" resultType="com.example.po.AdPO">
        SELECT *
        FROM ad
        WHERE end_time &lt; UNIX_TIMESTAMP()
          AND enabled = 1
          and is_delete = 0
    </select>

    <select id="findExpiredAdsPage" resultType="com.example.po.AdPO">
        SELECT *
        FROM ad
        WHERE end_time &lt; UNIX_TIMESTAMP()
          AND enabled = 1
          and is_delete = 0
        limit #{page},#{size}
    </select>

    <update id="delete">
        UPDATE ad
        SET is_delete = 1
        WHERE id = #{id}
    </update>


    <update id="updateEnable">
        UPDATE ad
        SET enabled = #{enabled}
        WHERE id = #{id}
    </update>

    <update id="updateEndTime">
        UPDATE ad
        SET end_time = #{endTime}
        WHERE id = #{id}
    </update>
</mapper>