<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.GoodsMapper">
    <select id="selectByParams" resultType="com.example.vo.Goods">

        SELECT * FROM goods WHERE is_on_sale = #{isOnSale} AND is_delete = #{isDelete}
        <if test="keyword!=null">
            AND name LIKE #{keyword}
        </if>
        ORDER BY ${orderBy} ${order}
    </select>
</mapper>